html, body
{
	height: 100%;

}

body
{
  background: #FA5252;	
}

.container
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box
{
	width:700px;
	height: 300px;
	border-radius: 20px;
	/*background: #FA5252;*/
	border-radius: 8px;
background: linear-gradient(315deg, #ff5858, #e14a4a);
box-shadow:  -5px -5px 8px #a03434, 
             5px 5px 8px #ff7070;

}
.row
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.clock
{
	display:inline-block;
}

@font-face
{
	font-family: sevenSegment;
	src: url(Seven\ Segment.ttf);
}
  
.clock .number
{
	font-family: sevenSegment;
	font-size:60px;
	text-align: center;
	padding: 10px;
	margin: 8px;
	border-radius: 20px;
	background: #303030;
	color:#fff;
	box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.7);

}
.session
{
	display: inline-block;

}
.session .merideim
{
	font-family: sans-serif;
	
	text-align: center;
	padding: 10px;
	margin: 8px;
	border-radius: 10px;
	background: #303030;
	color:#fff;
	box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.7);
	font-family: sans-serif;
	font-size: 30px;
	
	

}
 .tex
{
	font-family: arial;
	font-size: 12px;
	color: #fff;
	background: #303030;
	display: block;
	border-radius: 10px;
	padding: 5px;
	margin-top: 20px;
	text-align: center;
	padding-left: 2px;
	padding-right: 2px;
}
.clock .text
{
	font-family: arial;
	font-size: 12px;
	color: #fff;
	background: #303030;
	display: block;
	border-radius: 10px;
	padding: 5px;
	margin-top: 20px;
	text-align: center;


}